
  <!-- about area start here -->
  <section class="bd-about-area-two pt-150 pb-100">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-10">
          <div class="bd-about-img-two bd-abouts-img-two mb-50">
            <img src="assets/img/about/images.jpg" alt="img not found" width="300">
          </div>
        </div>
        <div class="col-xl-7 col-lg-6 col-md-10">
          <div class="bd-about-text-two mb-50">
            <div class="bd-section-title-wrapper mb-25">
              <h5 class="bd-section-subtitle mb-15">About Me</h5>
              <h2 class="bd-section-title mb-25">Creative Woman</h2>
              <p>I am an enthusiastic, self-motivated, reliable, responsible and hard working person. I am a mature team worker and adaptable to all challenging situations. I am able to work well both in a team environment as well as using own initiative. I am able to work well under pressure and adhere to strict deadlines.</p>
            </div>
            <div class="row mb-35">
              <div class="col-sm-6">
                <ul>

                  <li>Name : <span>Rahma Tagorti </span></li>
                  <li>Phone : <a href="tel:154205426">(+216) 55 555 555</a></li>
                  <li>Email : <a href="/cdn-cgi/l/email-protection#460227282f3f232a06233e272b362a236825292b"><span class="__cf_email__" data-cfemail="6e2a0f0007170b022e0b160f031e020b400d0103">rahmatagorti@esprit.tn</span></a></li>
                  <li>Role : <span>Simple User</span></li>
                </ul>
              </div>

            </div>
            <div class="bd-about-text-two-btn">
              <a href="contact.html" class="theme-btn theme-btn-rounded">Download CV</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about area end here -->


  <!-- brand area start here -->
  <section class="bd-brand-area-two pt-145 pb-150 gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6">
          <div class="col-12">
            <div class="bd-section-title-wrapper mb-50">
              <h5 class="bd-section-subtitle mb-15">Happy Clients</h5>
              <h2 class="bd-section-title mb-25">I worked with brands</h2>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-6 col-md-6">
          <div class="bd-brand-active-two swiper-container">
            <div class="swiper-wrapper">
              <div class="bd-brand-single swiper-slide">
                <div class="bd-brand-item text-center text-md-end mb-40">
                  <a href="#"><img src="assets/img/brand/brand-1.png" alt="brand img not found"></a>
                </div>
                <div class="bd-brand-item text-center text-md-end">
                  <a href="#"><img src="assets/img/brand/brand-2.png" alt="brand img not found"></a>
                </div>
              </div>
              <div class="bd-brand-single swiper-slide">
                <div class="bd-brand-item text-center text-md-end mb-40">
                  <a href="#"><img src="assets/img/brand/brand-2.png" alt="brand img not found"></a>
                </div>
                <div class="bd-brand-item text-center text-md-end">
                  <a href="#"><img src="assets/img/brand/brand-4.png" alt="brand img not found"></a>
                </div>
              </div>
              <div class="bd-brand-single swiper-slide">
                <div class="bd-brand-item text-center text-md-end mb-40">
                  <a href="#"><img src="assets/img/brand/brand-3.png" alt="brand img not found"></a>
                </div>
                <div class="bd-brand-item text-center text-md-end">
                  <a href="#"><img src="assets/img/brand/brand-6.png" alt="brand img not found"></a>
                </div>
              </div>
              <div class="bd-brand-single swiper-slide">
                <div class="bd-brand-item text-center text-md-end mb-40">
                  <a href="#"><img src="assets/img/brand/brand-1.png" alt="brand img not found"></a>
                </div>
                <div class="bd-brand-item text-center text-md-end">
                  <a href="#"><img src="assets/img/brand/brand-2.png" alt="brand img not found"></a>
                </div>
              </div>
              <div class="bd-brand-single swiper-slide">
                <div class="bd-brand-item text-center text-md-end mb-40">
                  <a href="#"><img src="assets/img/brand/brand-2.png" alt="brand img not found"></a>
                </div>
                <div class="bd-brand-item text-center text-md-end">
                  <a href="#"><img src="assets/img/brand/brand-4.png" alt="brand img not found"></a>
                </div>
              </div>
              <div class="bd-brand-single swiper-slide">
                <div class="bd-brand-item text-center text-md-end mb-40">
                  <a href="#"><img src="assets/img/brand/brand-3.png" alt="brand img not found"></a>
                </div>
                <div class="bd-brand-item text-center text-md-end">
                  <a href="#"><img src="assets/img/brand/brand-6.png" alt="brand img not found"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- brand area end here -->

  <!-- skill area start here -->
  <section class="bd-skill-area pt-150 pb-135">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="bd-skill--content-img">
            <img src="assets/img/shape/skill-shape.png" alt="img not found">
            <div class="bd-skill--content-img-expe">
              <h2 class="bd-skill--content-img-expe-title">05</h2>
              <span>Years <br>Experience</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bd-section-title-wrapper mb-30">
            <h5 class="bd-section-subtitle mb-15">My Skills</h5>
            <h2 class="bd-section-title">My experience <br>and skills</h2>
          </div>
          <div class="bd-skill--content">
            <div class="bd-skill__wrapper mb-25">
              <div class="bd-skill--title__wrapper">
                <h5 class="bd-skill--title">Front-End</h5>
                <span style="left:90%">90%</span>
              </div>
              <div class="progress">
                <div class="progress-bar wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.5s" role="progressbar" style="width: 90%; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: slideInLeft;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span></span></div>
              </div>
            </div>
            <div class="bd-skill__wrapper mb-25">
              <div class="bd-skill--title__wrapper">
                <h5 class="bd-skill--title">WordPress</h5>
                <span style="left:60%">60%</span>
              </div>
              <div class="progress">
                <div class="progress-bar wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.6s" role="progressbar" style="width: 60%; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: slideInLeft;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span></span></div>
              </div>
            </div>
            <div class="bd-skill__wrapper mb-25">
              <div class="bd-skill--title__wrapper">
                <h5 class="bd-skill--title">Laravel</h5>
                <span style="left:70%">70%</span>
              </div>
              <div class="progress">
                <div class="progress-bar wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.7s" role="progressbar" style="width: 70%; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: slideInLeft;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span></span></div>
              </div>
            </div>
            <div class="bd-skill__wrapper mb-25">
              <div class="bd-skill--title__wrapper">
                <h5 class="bd-skill--title">Graphic Design</h5>
                <span style="left:50%">50%</span>
              </div>
              <div class="progress">
                <div class="progress-bar wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.8s" role="progressbar" style="width: 50%; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: slideInLeft;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span></span></div>
              </div>
            </div>
            <div class="bd-skill__wrapper">
              <div class="bd-skill--title__wrapper">
                <h5 class="bd-skill--title">JavaScript</h5>
                <span style="left:80%">80%</span>
              </div>
              <div class="progress">
                <div class="progress-bar wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.9s" role="progressbar" style="width: 80%; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: slideInLeft;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- skill area end here -->

  <!-- fact area start here -->
  <section class="bd-fact-area-four gray-bg pt-105 pb-80">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="bd-fact mb-30 text-center">
            <div class="bd-fact-inner">
              <h2 class="bd-fact-title"><span class="odometer" data-count="50">0</span>K+</h2>
              <span class="bd-fact-subtitle">Global Happy Clients</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="bd-fact mb-30 text-center">
            <div class="bd-fact-inner">
              <h2 class="bd-fact-title"><span class="odometer" data-count="80">0</span>K</h2>
              <span class="bd-fact-subtitle">Project Cmpleted</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="bd-fact mb-30 text-center">
            <div class="bd-fact-inner">
              <h2 class="bd-fact-title"><span class="odometer" data-count="50">0</span>+</h2>
              <span class="bd-fact-subtitle">Creative Designers</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="bd-fact mb-30 text-center">
            <div class="bd-fact-inner">
              <h2 class="bd-fact-title"><span class="odometer" data-count="30">0</span>+</h2>
              <span class="bd-fact-subtitle">Awards Winner</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- fact area end here -->

  <!-- testimonial area start here -->
  <section class="bd-testimonial-area-four pt-150 pb-145">
    <div class="container">
      <div class="bd-testimonial-four-active swiper-container">
        <div class="swiper-wrapper pb-40">
          <div class="swiper-slide">
            <div class="bd-testimonial-four">
              <div class="bd-testimonial-four-img">
                <img src="assets/img/testimonial/testimonial-author-3.png" alt="img not found">
              </div>
              <div class="bd-testimonial-four-text">
                <i class="fas fa-quote-left mb-20"></i>
                <h3 class="bd-testimonial-four-text-title mb-15">Build content-rich and secure customer experiences with Drupal on the front-end and BigCommerce on the back-end.</h3>
                <h6>David Johnson</h6>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bd-testimonial-four">
              <div class="bd-testimonial-four-img">
                <img src="assets/img/testimonial/testimonial-author-4.png" alt="img not found">
              </div>
              <div class="bd-testimonial-four-text">
                <i class="fas fa-quote-left mb-20"></i>
                <h3 class="bd-testimonial-four-text-title mb-15">Build content-rich and secure customer experiences with Drupal on the front-end and BigCommerce on the back-end.</h3>
                <h6>David Warner</h6>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bd-testimonial-four">
              <div class="bd-testimonial-four-img">
                <img src="assets/img/testimonial/testimonial-author-5.png" alt="img not found">
              </div>
              <div class="bd-testimonial-four-text">
                <i class="fas fa-quote-left mb-20"></i>
                <h3 class="bd-testimonial-four-text-title mb-15">Build content-rich and secure customer experiences with Drupal on the front-end and BigCommerce on the back-end.</h3>
                <h6>Steve Smith</h6>
              </div>
            </div>
          </div>
        </div>

        <!-- If we need pagination -->
        <div class="testimonial-pagination testimonial-dots"></div>
      </div>
    </div>
  </section>
  <!-- testimonial area end here -->

  <!-- footer area start here -->
  <footer class="heading-bg">
    <div class="bd-footer-area pt-100 pb-60">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="bd-footer-widget footer-col-1 mb-30">
              <div class="bd-footer-info">
                <div class="bd-footer-info-logo mb-35">
                  <a href="index.html"><img src="assets/img/logo/logo.png" class="img-fluid" alt="img not found"></a>
                </div>
                <div class="bd-footer-info-item mb-10">
                  <h6>Phone : </h6>
                  <a href="tel:(+88)258-241-302">(+88) 258 - 241 - 302</a>
                </div>
                <div class="bd-footer-info-item mb-10">
                  <h6>Email : </h6>
                  <a href="/cdn-cgi/l/email-protection#a0c9cec6cfe0c5d8c1cdd0ccc58ec3cfcd"><span class="__cf_email__" data-cfemail="d0b9beb6bf90b5a8b1bda0bcb5feb3bfbd">[email&#160;protected]</span></a>
                </div>
                <div class="bd-footer-info-item">
                  <h6>Location :</h6>
                  <span>258712 Street Park, New York, USA</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="bd-footer-widget footer-col-2 mb-30">
              <h5 class="bd-footer-widget-title mb-35">Information</h5>
              <ul>
                <li><a href="service-details.html">Agency Overview</a></li>
                <li><a href="service-details.html">Services</a></li>
                <li><a href="service-details.html">Developer Tools</a></li>
                <li><a href="service-details.html">Contact Tech</a></li>
                <li><a href="service-details.html">Careers</a></li>
                <li><a href="service-details.html">Global Partner</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="bd-footer-widget footer-col-3 mb-30">
              <h5 class="bd-footer-widget-title mb-35">Quick Links</h5>
              <ul>
                <li><a href="about.html">About Company</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="service-details.html">Features</a></li>
                <li><a href="contact.html">Documentation</a></li>
                <li><a href="contact.html">Resource</a></li>
                <li><a href="contact.html">Store Example</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="bd-footer-widget footer-col-4 mb-30">
              <h5 class="bd-footer-widget-title mb-40">Newsletter</h5>
              <div class="bd-footer-newsletter">
                <form action="#">
                  <div class="bd-footer-newsletter-field mb-20">
                    <input type="email" placeholder="Enter your email">
                  </div>
                  <div class="bd-footer-newsletter-field-btn position-relative">
                    <button type="submit" class="theme-btn">Subscribe Now <i class="fal fa-paper-plane"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bd-copyright-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="bd-copyright text-center">
              <p class="m-0">© 2022 All rights reserved | Design & Develop by <a href="https://themeforest.net/user/bdevs/portfolio">BDevs</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer area end here -->





